@charset "utf-8";

.new-task {
  max-width: 1000px;
  width: 90%;
  margin: 0 auto;
}

.new-task-form {
  color: #555555;
}

.new-task-select-list,
.new-task-title,
.new-task-detail {
  max-width: 300px;
  width: 100%;
  margin-bottom: 25px;
}

.new-task-detail {
  height: 200px;
}

.new-task-button {
  background-color: #242f9b;
  color: #ffffff;
  min-width: 80px;
  width: auto;
  height: 40px;
  border-radius: 5px;
}

.error-message {
  color: #ff3333;
  font-size: 1.2em;
}
