@charset "utf-8";

.signup {
  max-width: 500px;
  width: 90%;
  margin: 0 auto;
}
.signup-form {
  margin: 25px 0;
  color: #555555;
}

.email-input,
.name-input,
.password-input {
  width: 100%;
  max-width: 500px;
  font-size: large;
  height: 30px;
  margin-bottom: 25px;
}

.signup-button {
  background-color: #242f9b;
  color: #ffffff;
  min-width: 100px;
  width: auto;
  height: 40px;
  border-radius: 5px;
}

.error-message {
  color: #ff3333;
}
